p {
  width: 200px;
  height: 200px;
  background-color: gray;
  border: 10px solid;
  margin: 20 px;
  padding: 10px;
}

h1 {
  background-color: SteelBlue;
  border: 2px solid black;
  padding: 15px;


}